module-2/automated-quality-gates-with-step-functions/template.yaml
AWSTemplateFormatVersion: '2010-09-09'

Parameters:
  GeneratorModelId:
    Type: String
    Default: us.amazon.nova-micro-v1:0
  EvaluatorModelId:
    Type: String
    Default: us.amazon.nova-pro-v1:0
  QualityThreshold:
    Type: String
    Default: '0.7'
    Description: Minimum average score (0-1) to pass the quality gate

Resources:
  EvalBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub 'quality-gate-eval-${AWS::AccountId}-${AWS::Region}'

  BedrockEvalServiceRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-BedrockEvalRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: bedrock.amazonaws.com
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:SourceAccount: !Ref AWS::AccountId
              ArnLike:
                aws:SourceArn: !Sub 'arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:evaluation-job/*'
      Policies:
        - PolicyName: BedrockModelInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - bedrock:InvokeModel
                  - bedrock:CreateModelInvocationJob
                  - bedrock:StopModelInvocationJob
                Resource:
                  - 'arn:aws:bedrock:*::foundation-model/*'
                  - !Sub 'arn:aws:bedrock:*:${AWS::AccountId}:inference-profile/*'
        - PolicyName: S3Access
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:PutObject
                  - s3:GetBucketLocation
                  - s3:AbortMultipartUpload
                  - s3:ListBucketMultipartUploads
                Resource:
                  - !GetAtt EvalBucket.Arn
                  - !Sub '${EvalBucket.Arn}/*'

  CheckResultsFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-CheckResultsRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: S3ReadAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource:
                  - !GetAtt EvalBucket.Arn
                  - !Sub '${EvalBucket.Arn}/*'

  CheckResultsFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-CheckResults'
      Runtime: python3.12
      Handler: index.handler
      Timeout: 30
      MemorySize: 256
      Role: !GetAtt CheckResultsFunctionRole.Arn
      Environment:
        Variables:
          QUALITY_THRESHOLD: !Ref QualityThreshold
      Code:
        ZipFile: |
          import boto3, os, json

          def handler(event, context):
              s3 = boto3.client('s3')
              threshold = float(os.environ['QUALITY_THRESHOLD'])
              output_uri = event['outputUri']

              parts = output_uri.replace('s3://', '').split('/', 1)
              bucket = parts[0]
              prefix = parts[1] if len(parts) > 1 else ''

              response = s3.list_objects_v2(Bucket=bucket, Prefix=prefix)
              result_files = [
                  obj['Key'] for obj in response.get('Contents', [])
                  if obj['Key'].endswith('.jsonl')
              ]

              if not result_files:
                  return {
                      'decision': 'REJECT',
                      'reason': 'No evaluation results found',
                      'averageScore': 0,
                      'threshold': threshold
                  }

              obj = s3.get_object(Bucket=bucket, Key=result_files[0])
              lines = obj['Body'].read().decode('utf-8').strip().split('\n')

              all_scores = []
              for line in lines:
                  record = json.loads(line)
                  for metric_result in record.get('automatedEvaluationResult', {}).get('scores', []):
                      score = metric_result.get('result')
                      if score is not None:
                          all_scores.append(float(score))

              avg_score = sum(all_scores) / len(all_scores) if all_scores else 0
              passed = avg_score >= threshold

              return {
                  'decision': 'APPROVE' if passed else 'REJECT',
                  'averageScore': round(avg_score, 3),
                  'threshold': threshold,
                  'totalScores': len(all_scores),
                  'reason': f"Average score {avg_score:.3f} {'meets' if passed else 'below'} threshold {threshold}"
              }

  QualityGateStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${AWS::StackName}-StateMachineRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: BedrockEvalJobAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Sid: BedrockEvalJobAccess
                Effect: Allow
                Action:
                  - bedrock:CreateEvaluationJob
                  - bedrock:GetEvaluationJob
                Resource:
                  - !Sub 'arn:aws:bedrock:${AWS::Region}:${AWS::AccountId}:evaluation-job/*'
                  - 'arn:aws:bedrock:*::foundation-model/*'
                  - !Sub 'arn:aws:bedrock:*:${AWS::AccountId}:inference-profile/*'
              - Sid: PassRoleToBedrock
                Effect: Allow
                Action:
                  - iam:PassRole
                Resource: !GetAtt BedrockEvalServiceRole.Arn
        - PolicyName: LambdaInvoke
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource: !GetAtt CheckResultsFunction.Arn

  QualityGateStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${AWS::StackName}-QualityGate'
      RoleArn: !GetAtt QualityGateStateMachineRole.Arn
      DefinitionString: !Sub
        - |
          {
            "QueryLanguage": "JSONata",
            "Comment": "Quality Gate: Create Bedrock evaluation job, poll until complete, check scores against threshold, approve or reject.",
            "StartAt": "CreateEvaluationJob",
            "States": {
              "CreateEvaluationJob": {
                "Type": "Task",
                "Resource": "arn:aws:states:::aws-sdk:bedrock:createEvaluationJob",
                "Arguments": {
                  "JobName": "{% 'quality-gate-' & $states.context.Execution.Name %}",
                  "RoleArn": "${BedrockEvalServiceRoleArn}",
                  "ApplicationType": "ModelEvaluation",
                  "EvaluationConfig": {
                    "Automated": {
                      "DatasetMetricConfigs": [
                        {
                          "TaskType": "General",
                          "Dataset": {
                            "Name": "quality-gate-dataset",
                            "DatasetLocation": {
                              "S3Uri": "${PromptDatasetS3Uri}"
                            }
                          },
                          "MetricNames": [
                            "Builtin.Correctness",
                            "Builtin.Completeness",
                            "Builtin.Coherence"
                          ]
                        }
                      ],
                      "EvaluatorModelConfig": {
                        "BedrockEvaluatorModels": [
                          {
                            "ModelIdentifier": "${EvaluatorModelId}"
                          }
                        ]
                      }
                    }
                  },
                  "InferenceConfig": {
                    "Models": [
                      {
                        "BedrockModel": {
                          "ModelIdentifier": "${GeneratorModelId}",
                          "InferenceParams": "{}"
                        }
                      }
                    ]
                  },
                  "OutputDataConfig": {
                    "S3Uri": "{% 's3://${EvalBucketName}/eval-results/quality-gate-' & $states.context.Execution.Name & '/' %}"
                  }
                },
                "Assign": {
                  "jobArn": "{% $states.result.JobArn %}",
                  "outputUri": "{% 's3://${EvalBucketName}/eval-results/quality-gate-' & $states.context.Execution.Name & '/' %}"
                },
                "Next": "WaitForEvaluation"
              },
              "WaitForEvaluation": {
                "Type": "Wait",
                "Seconds": 60,
                "Next": "CheckEvaluationStatus"
              },
              "CheckEvaluationStatus": {
                "Type": "Task",
                "Resource": "arn:aws:states:::aws-sdk:bedrock:getEvaluationJob",
                "Arguments": {
                  "JobIdentifier": "{% $jobArn %}"
                },
                "Assign": {
                  "evalStatus": "{% $states.result.Status %}"
                },
                "Next": "IsEvaluationComplete"
              },
              "IsEvaluationComplete": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Condition": "{% $evalStatus = 'Completed' %}",
                    "Next": "CheckResults"
                  },
                  {
                    "Condition": "{% $evalStatus = 'Failed' %}",
                    "Next": "EvaluationFailed"
                  },
                  {
                    "Condition": "{% $evalStatus = 'Stopped' %}",
                    "Next": "EvaluationFailed"
                  }
                ],
                "Default": "WaitForEvaluation"
              },
              "CheckResults": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Arguments": {
                  "FunctionName": "${CheckResultsFunctionArn}",
                  "Payload": {
                    "outputUri": "{% $outputUri %}"
                  }
                },
                "Output": "{% $states.result.Payload %}",
                "Next": "QualityGateDecision"
              },
              "QualityGateDecision": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Condition": "{% $states.input.decision = 'APPROVE' %}",
                    "Next": "DeploymentApproved"
                  }
                ],
                "Default": "DeploymentRejected"
              },
              "DeploymentApproved": {
                "Type": "Succeed",
                "Comment": "Model passed quality gate. Proceed with deployment."
              },
              "DeploymentRejected": {
                "Type": "Fail",
                "Error": "QualityGateFailed",
                "Cause": "Model evaluation scores below threshold. Deployment rejected."
              },
              "EvaluationFailed": {
                "Type": "Fail",
                "Error": "EvaluationJobFailed",
                "Cause": "Bedrock evaluation job failed or was stopped."
              }
            }
          }
        - BedrockEvalServiceRoleArn: !GetAtt BedrockEvalServiceRole.Arn
          EvalBucketName: !Ref EvalBucket
          PromptDatasetS3Uri: !Sub 's3://${EvalBucket}/eval-datasets/summarization-prompts.jsonl'
          GeneratorModelId: !Ref GeneratorModelId
          EvaluatorModelId: !Ref EvaluatorModelId
          CheckResultsFunctionArn: !GetAtt CheckResultsFunction.Arn

Outputs:
  BucketName:
    Value: !Ref EvalBucket
  StateMachineArn:
    Value: !Ref QualityGateStateMachine
